@import "tailwindcss";
/* components/index.css */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

.pi-font {
  font-family: "PT Serif", serif;
  color: #b1d135;
}
.blue-sci {
  color: #1a61ad;
}

/* add any custom css below */
@keyframes underlinePulse {
  0% {
    text-decoration-color: rgba(148, 163, 184, 0.25);
  }
  50% {
    text-decoration-color: rgba(148, 163, 184, 1);
  }
  100% {
    text-decoration-color: rgba(148, 163, 184, 0.25);
  }
}

.underline-pulse {
  animation: underlinePulse 1.8s ease-in-out infinite;
}
