@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import "tailwindcss";
@tailwind utilities;

.pi-font {
  font-family: "PT Serif", serif;
  color: #b1d135;
}
.blue-sci {
  color: #1a61ad !important;
}
