@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import "tailwindcss";
@tailwind utilities;

.pi-font {
  font-family: "PT Serif", serif;
  color: #b1d135;
}
.blue-sci {
  color: #1a61ad !important;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}
